@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>ResetPassword</h1>


<form asp-action="ResetPassword" method="post">
	<div asp-validation-summary="All"></div>

	<input type="hidden" asp-for="Email" />
	<input type="hidden" asp-for="Token" />

	<input type="password" asp-for="Password" placeholder="Password" class="form-control" />
	<div asp-validation-for="Password"></div>


	<input type="password" asp-for="ConfirmPassword" placeholder="ConfirmPassword" class="form-control" />
	<div asp-validation-for="ConfirmPassword"></div>

	

	<input type="submit" value="Change Password" class="btn btn-primary" />
</form>
