@model SignUpViewModel
@{
    ViewData["Title"] = "SignUp";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>SignUp</h1>

<form asp-action="SignUp" method="post">
	<div asp-validation-summary="All"></div>

	<input type="text" asp-for="FirstName" placeholder="FristName" class="form-control" />
	<div asp-validation-for="FirstName"></div>

	<input type="text" asp-for="LastName" placeholder="LastName" class="form-control" />
	<div asp-validation-for="LastName"></div>

	<input type="text" asp-for="Email" placeholder="Email" class="form-control" />
	<div asp-validation-for="Email"></div>

	<input type="password" asp-for="Password" placeholder="Password" class="form-control" />
	<div asp-validation-for="Password"></div>

	<input type="password" asp-for="ConfirmPassword" placeholder="ConfirmPassword" class="form-control" />
	<div asp-validation-for="ConfirmPassword"></div>

	<div class="wthree-text">
		<label class="anim">
			<input type="checkbox" required  />
			<span>I Agree To the Terms & Conditions</span>
		</label>
		<div class="clear"></div>
	</div>

	<input type="submit" value="SignUp" class="btn btn-primary"/>
</form>

<p class="text-black">do you have an account  <a asp-action="Login">Login now!</a> </p>